@import "tailwindcss";


:root {
  --font-inter: 'Inter', sans-serif;
  --font-space-grotesk: 'Space Grotesk', sans-serif;
}

body {
  font-family: var(--font-inter);
  background: black;
}

.font-space-grotesk {
  font-family: var(--font-space-grotesk);
}